[workspace]
name = "cmake-utils"
version = "0.1.0"
description = "cmake-utils"
authors = ["Antoine Hoarau 703240+ahoarau@users.noreply.github.com"]
channels = ["conda-forge"]
platforms = ["osx-arm64", "osx-64", "linux-64", "win-64"]
preview = ["pixi-build"]

[dependencies]
python = ">=3.8"
cxx-compiler = ">=1.11.0,<2"
nanobind = ">=2.6.0,<3"
cmake = ">=3.22"
catch2 = ">=3.8.0,<4"
pytest = ">=8.4.2,<9"
ccache = ">=4.11.3,<5"
ninja = ">=1.13.1,<2"
prek = ">=0.2"
libboost-python-devel = ">=1.89.0,<2"
numpy = ">=2.3.4,<3"

[tasks]
configure = { cmd = [
    "cmake",
    "-G Ninja",
    "-S .",
    "-B build",
    "-DCMAKE_CXX_COMPILER_LAUNCHER=ccache",
    "-DCMAKE_BUILD_TYPE=Release",
    "-DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX",
    "-DCMAKE_EXPORT_COMPILE_COMMANDS=ON",
    "-DCMAKE_UTILS_BUILD_PYTHON_BINDINGS=ON",
    "-DCMAKE_UTILS_BUILD_TESTS=ON",
] }
build = { cmd = "cmake --build build", depends-on = ["configure"] }
install = { cmd = "cmake --install build", depends-on = ["build"] }
prek = { cmd = "prek run -a" }
test = { cmd = "ctest --test-dir build --output-on-failure", depends-on = [
    "build",
] }

[feature.test-pixi-build]
dependencies = { cmake-utils = { path = "." }, cmake = ">=3.22" }

[feature.test-pixi-build.tasks]
test-packaging-pixi-build = "cmake -S tests/packaging/pixi_build -B build_test_pixi_build"

[environments]
test-pixi-build = { features = ["test-pixi-build"], no-default-feature = true }
# ---------------------------------------------------------------

[package]
name = { workspace = true }
version = { workspace = true }

[package.build]
backend = { name = "pixi-build-cmake", version = "0.3.*" }

[package.build.config]
extra-args = ["-DCMAKE_UTILS_BUILD_TESTS=OFF"]

[target.win-64.activation.env]
CLICOLOR_FORCE = "1"
