[workspace]
name = "test_project"
version = "1.0.0"
description = "Test project for cmake-utils"
authors = ["Test Author <test@example.com>"]
channels = ["conda-forge"]
platforms = ["osx-arm64", "osx-64", "linux-64", "win-64"]

[dependencies]
python = ">=3.8"
cxx-compiler = ">=1.11.0,<2"
nanobind = ">=2.6.0,<3"
cmake = ">=3.22"
catch2 = ">=3.8.0,<4"
pytest = ">=8.4.2,<9"
ccache = ">=4.11.3,<5"
ninja = ">=1.13.1,<2"
pre-commit = ">=4.3.0,<5"
libboost-python-devel = ">=1.89.0,<2"

[target.win-64.activation.env]
CLICOLOR_FORCE = "1"

[tasks]
configure = { cmd = [
    "cmake",
    "-G Ninja",
    "-S .",
    "-B build",
    "-DCMAKE_CXX_COMPILER_LAUNCHER=ccache",
    "-DCMAKE_BUILD_TYPE=RelWithDebInfo",
    "-DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX",
    "-DCMAKE_EXPORT_COMPILE_COMMANDS=ON",
    "-DBUILD_PYTHON_BINDINGS=ON",
    "-DBUILD_TESTS=ON",
] }
build = { cmd = "cmake --build build", depends-on = ["configure"] }
test = { cmd = "ctest --test-dir build --output-on-failure", depends-on = [
    "build",
] }
install = { cmd = "cmake --install build", depends-on = ["build"] }
pre-commit = { cmd = "pre-commit run --all" }
