name: macOS CI

on: push

jobs:
  macos:
    name: ${{ matrix.target.name }}
    runs-on: ${{ matrix.target.os }}
    strategy:
      fail-fast: false
      matrix:
        target: [{os: macos-26, name: macOS (Apple Silicon)}
               , {os: macos-15-intel, name: macOS (Intel)}]
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: |
          brew install cmake ninja catch2 python boost-python3 nanobind robin-map pytest numpy

      - name: Configure project
        run: |
          cmake -G Ninja -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_PYTHON_BINDINGS=ON -DBUILD_TESTS=ON

      - name: Build project
        run: cmake --build build

      - name: Run tests
        run: ctest --test-dir build --output-on-failure
