name: Pixi CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pixi-ci:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
          - os: ubuntu-24.04
          - os: ubuntu-latest
            container: docker://archlinux:latest
          - os: macos-15-intel
          - os: macos-26
          - os: windows-2022
          - os: windows-2025

    steps:
    - uses: actions/checkout@v5

    - name: Install Pixi
      uses: prefix-dev/setup-pixi@v0.9.1
      with:
        pixi-version: latest

    - name: Configure Pixi environment
      run: pixi install

    - name: Configure project
      run: pixi run configure

    - name: Build project
      run: pixi run build

    - name: Run tests
      run: pixi run test